<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.upgrade">

    <!-- 访问网络状态-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 未知来源安装权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <!-- 处理FileProvider冲突方案-->
        <!-- https://www.jianshu.com/p/530336f06002 -->
        <provider
            android:name="io.upgrade.FileProvider"
            android:authorities="${applicationId}.UpgradeUtilPlugin.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/upgrade_plugin_file_paths" />
        </provider>
    </application>
</manifest>
